<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POKEMON BATTLE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-class">
    <div>
      <img class="profpokemon" src=<%= frontImage %> alt="" />
      <h4>Trainer <%= trainername %></h4>
      <p class="ingametxt">Name:<%= name %> </p>
      <p class="ingametxt">Type:<%= type %> </p>
      <p class="ingametxt">HP:<%= health %></p>
  </div>
  <button class="button"><a href= '<%=battleUrl %>'>
    BATTLE
  </a></button>
  <button class="button"><a href= "/homepage">
    NEW GAME
  </a></button>
  </div>
</body>
</html>