<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POKEMON BATTLE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-class">
    <div class="toevolvecontainer">
      <img class="pre" src=<%= preevolve %> alt="" />
      <img class="post" src=<%= frontImage %> alt="" />
  </div>
  <p class="ingametxt">Your pokemon <%= prename %> is evolving into <%= name %>! </p>
  <button class="button"><a href='<%= mypokemon %>'>Go to profile</a></button>
  </div>
</body>
</html>