<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-class">
    <div>
      <img class="winnerimage" src=<%= frontImage %> alt="" />
      <div>
      <p class="ingametxt"><%= name %></p>
      <p class="ingametxt">HP<%= health %></p>
      <p class="ingametxt">Type:<%= type %> </p>
    </div>
  </div>
  <% if (health<500) { %> 
    <button class="button"><a href= '<%=battleUrl %>'>
      RATTATA
    </a></button>
  <button class="button"><a href= '<%=battleUrl %>/medium'>
    SNORLAX
  </a></button>
  <% } else{ %>
    <button class="button"><a href= '<%=battleUrl %>'>
      RATTATA
    </a></button>
    <button class="button"><a href= '<%=battleUrl %>/hard'>
      FINAL BATTLE
    </a></button>
  <% } %>
  <button class="button"><a href= "/">
    NEW GAME
  </a></button>
  </div>
</body>
</html>