<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POKEMON BATTLE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="main-class">
    <p class="ingametxt"><%= npcname %></p>
    <progress class="hp" value='<%= npchealth %>' max='<%= npcmaxhealth %>'></progress>
    <div class="npccontainer">
      <img class="npcimage" src=<%= npcfrontimage %> alt="" />
      <img class="npcfx" src=<%= fx %> alt="" />
    </div>
    <div class="usercontainer">
      <img class="userfx" src=<%= npcfx %> alt="" />
      <img class="userimage" src=<%= backImage %> alt="" />
    </div>
    <p class="ingametxt"><%= name %></p>
    <progress class="hp" value='<%= health %>' max='<%= maxhealth %>'></progress>
    <% if (npchealth>0&&health>0) { %> 
    <button class="button"><a href='<%= battleUrl %>/<%= npchealth %>/30/<%= health %>/30/hard'>ATTACK</a></button>
    <button class="button"><a href='<%= mypokemon %>/finalbattle'>RUN</a></button>
    <% } else if(npchealth<=0&&health<=0) { %>
      <h4>Both pokemon fainted!</h4>
      <button class="button"><a href='<%= mypokemon %>/finalbattle'>Go to profile</a></button>
    <% } else if(npchealth<=0) { %>
    <h4>CONGRATULATIONS! You defeated <%= npcname %> you are now the strongest pokemon trainer!</h4>
    <button class="button"><a href='<%= mypokemon %>/champion'>END</a></button>
    <% } else if(health<=0) { %>
      <h4>TOO BAD! Your pokemon <%= name %> lost!</h4>
      <button class="button"><a href='<%= mypokemon %>/finalbattle'>Go to profile</a></button>
      <% } %>
  </div>
</body>
</html>